---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Clarity</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="font-body">
    <div class="container mx-auto">
      <div>
        <nav class="my-14">
          <div class="flex justify-between items-center">
            <div>
              <a href="">
                <span class="text-2xl font-medium">Clarity</span>
              </a>
            </div>

            <ul
              class="flex justify-between gap-6 text-lg text-gray-600 underline"
            >
              <li><a href="">About</a></li>
              <li><a href="">Services</a></li>
              <li><a href="">Contact</a></li>
            </ul>
          </div>
        </nav>
      </div>

      <div class="grid">
        <div class="flex gap-6">
          <div class="grid-col w-full md:w-1/2 lg:w-1/3"></div>
          <div class="grid-col w-1/2 hidden md:block lg:w-1/3"></div>
          <div class="grid-col w-1/3 hidden lg:block"></div>
        </div>

        <div class="grid-item bg-white rounded-xl mb-6 overflow-hidden shadow">
          <a href="/about">
            <div class="group">
              <div class="h-64 overflow-hidden bg-center bg-cover relative">
                <img
                  alt=""
                  src="https://fastly.picsum.photos/id/628/536/354.jpg?hmac=W_-CeOM1wK13bBoAisLYOEJaIZwd9r2wM5VpQBb7uKA"
                  class="h-64 w-full object-cover smooth"
                />
                <div
                  class="absolute top-0 left-0 opacity-0 group-hover:opacity-100 w-full h-full bg-black/60 transition duration-300 ease-out"
                >
                  <div class="flex h-full justify-center items-center">
                    <div
                      class="text-white text-md font-bold translate-y-4 group-hover:translate-y-0 transition duration-300 ease-out"
                    >
                      View More
                    </div>
                  </div>
                </div>
              </div>
              <div class="p-6">
                <h3 class="text-xl mb-4">Just another post.</h3>
                <p>
                  Augue interdum velit euismod in pellentesque massa placerat
                  duis ultricies lacus sed turpis tincidunt. Duis ultricies
                  lacus sed turpis tincidunt id aliquet risus feugiat in ante
                  metus, dictum at tempor.
                </p>
                <div class="mt-4 text-xs text-gray-400">
                  <span>March 10, 1992</span>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div
          class="grid-item bg-stone-600 text-white rounded-xl mb-6 overflow-hidden shadow"
        >
          <div class="p-6">
            <h3 class="text-xl mb-4">Just another post.</h3>
            <p>
              Augue interdum velit euismod in pellentesque massa placerat duis
              ultricies lacus sed turpis tincidunt. Duis ultricies lacus sed
              turpis tincidunt id aliquet risus feugiat in ante metus, dictum at
              tempor.
            </p>
            <div class="mt-4 text-xs">
              <span>March 10, 1992</span>
            </div>
          </div>
        </div>

        <div
          class="grid-item h-64 bg-white rounded-xl mb-6 overflow-hidden bg-center bg-cover shadow"
          style="background-image: url(https://picsum.photos/600/400)"
        >
        </div>

        <div
          class="grid-item h-96 bg-white rounded-xl mb-6 overflow-hidden bg-center bg-cover shadow"
          style="background-image: url(https://picsum.photos/601/401)"
        >
          <div class="flex h-full items-end">
            <div
              class="text-xs text-white ml-6 mb-6 bg-stone-600 px-3 py-1 rounded-md"
            >
              <span>March 10, 1992</span>
            </div>
          </div>
        </div>

        <div class="grid-item bg-white rounded-xl mb-6 overflow-hidden shadow">
          <div class="h-64 overflow-hidden">
            <img
              alt=""
              src="https://picsum.photos/602/402"
              class="object-cover"
            />
          </div>
          <div class="p-6">
            <h3 class="text-xl mb-4">Just another post.</h3>
            <p>
              Augue interdum velit euismod in pellentesque massa placerat duis
              ultricies lacus sed turpis tincidunt. Duis ultricies lacus sed
              turpis tincidunt id aliquet risus feugiat in ante metus, dictum at
              tempor.
            </p>
            <div class="mt-4 text-xs text-gray-400">
              <span>March 10, 1992</span>
            </div>
          </div>
        </div>

        <div
          class="grid-item h-96 bg-white rounded-xl mb-6 overflow-hidden bg-center bg-cover shadow relative"
        >
          <a href="">
            <div class="group relative">
              <img
                alt=""
                src="https://fastly.picsum.photos/id/887/536/354.jpg?hmac=BhB_p4OMZPihyzYBh9wVkmcPaGrf_e8cvNFz4zT78o8"
                class="h-96 w-full object-cover smooth"
              />

              <div
                class="absolute top-0 left-0 h-full group-hover:opacity-0 transition duration-300"
              >
                <div class="flex h-full items-end">
                  <div
                    class="text-xs text-white ml-6 mb-6 bg-stone-600 px-3 py-1 rounded-md"
                  >
                    <span>March 10, 1992 test</span>
                  </div>
                </div>
              </div>

              <div
                class="absolute top-0 left-0 opacity-0 group-hover:opacity-100 w-full h-full bg-black/60 transition duration-300 ease-out"
              >
                <div class="flex h-full justify-center items-center">
                  <div
                    class="text-white text-center text-md font-bold translate-y-4 group-hover:translate-y-0 transition duration-300 ease-out"
                  >
                    <div class="text-xl">Just another Post</div>
                    <div class="text-md">View More</div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div
          class="grid-item h-64 bg-white rounded-xl mb-6 overflow-hidden bg-center bg-cover shadow"
          style="background-image: url(https://picsum.photos/604/404)"
        >
        </div>
        <div
          class="grid-item h-96 bg-white rounded-xl mb-6 overflow-hidden bg-center bg-cover shadow"
          style="background-image: url(https://picsum.photos/605/405)"
        >
        </div>
        <div
          class="grid-item h-64 bg-white rounded-xl mb-6 overflow-hidden bg-center bg-cover shadow"
          style="background-image: url(https://picsum.photos/600/400)"
        >
        </div>

        <div
          class="grid-item h-96 bg-white rounded-xl mb-6 overflow-hidden bg-center bg-cover shadow"
          style="background-image: url(https://picsum.photos/601/401)"
        >
        </div>

        <div
          class="grid-item h-64 bg-white rounded-xl mb-6 overflow-hidden bg-center bg-cover shadow"
          style="background-image: url(https://picsum.photos/602/402)"
        >
        </div>
        <div
          class="grid-item h-96 bg-white rounded-xl mb-6 overflow-hidden bg-center bg-cover shadow"
          style="background-image: url(https://picsum.photos/603/403)"
        >
        </div>
        <div
          class="grid-item h-64 bg-white rounded-xl mb-6 overflow-hidden bg-center bg-cover shadow"
          style="background-image: url(https://picsum.photos/604/404)"
        >
        </div>
        <div
          class="grid-item h-96 bg-white rounded-xl mb-6 overflow-hidden bg-center bg-cover shadow"
          style="background-image: url(https://picsum.photos/605/405)"
        >
        </div>
      </div>
      <!-- .grid -->

      <!-- pagination -->
      <div class="flex justify-between my-12">
        <div>
          <div class="text-2xl">
            <a href="">Previous</a>
          </div>
        </div>

        <div>
          <div class="text-2xl">
            <a href="">Next</a>
          </div>
        </div>
      </div>

      <hr class="border-1 border-dashed border-gray-300" />

      <footer class="my-6">
        <div class="flex justify-center">
          <div>&copy; 2024 Clarity Inc.</div>
        </div>
      </footer>
    </div>
    <!-- .container -->
  </body>
</html>

<script type="text/javascript" src="https://unpkg.com/colcade@0/colcade.js"
></script>
<script type="text/javascript">
  var colc = new Colcade(".grid", {
    columns: ".grid-col",
    items: ".grid-item",
  });
</script>

<style>
  .smooth {
    transform: translate3d(0, 0, 1px);
  }
</style>
