---

---

<div class="grid-item bg-white rounded-xl mb-6 overflow-hidden shadow">
  <a href="/about">
    <div class="group">
      <div class="h-64 overflow-hidden bg-center bg-cover relative">
        <img
          alt=""
          src="https://fastly.picsum.photos/id/628/536/354.jpg?hmac=W_-CeOM1wK13bBoAisLYOEJaIZwd9r2wM5VpQBb7uKA"
          class="h-64 w-full object-cover smooth"
        />
        <div
          class="absolute top-0 left-0 opacity-0 group-hover:opacity-100 w-full h-full bg-black/60 transition duration-300 ease-out"
        >
          <div class="flex h-full justify-center items-center">
            <div
              class="text-white text-md font-bold translate-y-4 group-hover:translate-y-0 transition duration-300 ease-out"
            >
              View More
            </div>
          </div>
        </div>
      </div>
      <div class="p-6">
        <h3 class="text-xl mb-4">Just another post.</h3>
        <p>
          Augue interdum velit euismod in pellentesque massa placerat duis
          ultricies lacus sed turpis tincidunt. Duis ultricies lacus sed turpis
          tincidunt id aliquet risus feugiat in ante metus, dictum at tempor.
        </p>
        <div class="mt-4 text-xs text-gray-400">
          <span>March 10, 1992</span>
        </div>
      </div>
    </div>
  </a>
</div>
