---

---

<div
  class="grid-item h-96 bg-white rounded-xl mb-6 overflow-hidden bg-center bg-cover shadow relative"
>
  <a href="">
    <div class="group relative">
      <img
        alt=""
        src="https://fastly.picsum.photos/id/887/536/354.jpg?hmac=BhB_p4OMZPihyzYBh9wVkmcPaGrf_e8cvNFz4zT78o8"
        class="h-96 w-full object-cover smooth"
      />

      <div
        class="absolute top-0 left-0 h-full group-hover:opacity-0 transition duration-300"
      >
        <div class="flex h-full items-end">
          <div
            class="text-xs text-white ml-6 mb-6 bg-stone-600 px-3 py-1 rounded-md"
          >
            <span>March 10, 1992 test</span>
          </div>
        </div>
      </div>

      <div
        class="absolute top-0 left-0 opacity-0 group-hover:opacity-100 w-full h-full bg-black/60 transition duration-300 ease-out"
      >
        <div class="flex h-full justify-center items-center">
          <div
            class="text-white text-center text-md font-bold translate-y-4 group-hover:translate-y-0 transition duration-300 ease-out"
          >
            <div class="text-xl">Just another Post</div>
            <div class="text-md">View More</div>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
