---
const { prevUrl, nextUrl } = Astro.props;
---

<!-- pagination -->
<div class="flex justify-center gap-6 sm:gap-8 md:justify-between my-12">
  <div>
    {
      prevUrl && (
        <div class="text-xl focus-within:ring-2">
          <a href={prevUrl} class="outline-none">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 inline-block"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18"
              />
            </svg>
            Newer
          </a>
        </div>
      )
    }
  </div>

  <div>
    {
      nextUrl && (
        <div class="text-xl focus-within:ring-2">
          <a href={nextUrl} class="outline-none">
            Older
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 inline-block"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
              />
            </svg>
          </a>
        </div>
      )
    }
  </div>
</div>
